body#signup-form {

}
.body{
	border: 1px solid #5f8b3d; 
	border-radius: 10px; 
	position: relative;
	overflow: hidden;
	margin: 10px auto;
	padding: 0;
}
.body > div:not(.counter) {
    padding-left: 50px;
    padding-right: 50px;
}
.body svg#bg {
	position: absolute;
	top: 0;
	left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
}
.logo, .header, .form {
    color: #fff;
}
.logo a{

}
.logo svg {
	max-height: 70px;
	filter: contrast(0%) brightness(12.5);
}
.header h2 {
    font-weight: 600;
}
.header p {
    font-size: 20px;
}
.form > p{
	font-size: 18px;
}
.form .hbspt-form > form {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{

}
.main-content .item,
.form{
	padding: 20px;
}
.main-content .item *{
	font-size: 20px;
}
.main-content .item > div{
	margin-bottom: 30px;
}
.main-content .icon img{
	height: 40px;
	width: auto;
	filter: invert(49%) sepia(57%) saturate(428%) hue-rotate(51deg) brightness(89%) contrast(83%);
}
.main-content .icon .fa {
    font-size: 40px;
    color: #5f8b3d;
}
.main-content .item .title {
    font-weight:  600;
}

.cont-1{
	background: #5f8b3d; 
	padding-top: 50px;
}
.cont-3{
	padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 33.33%;
    flex:  auto;
}

.counter{
    padding: 40px 0px;
	background:  url("https://uphinh.vn/images/2021/11/18/5f0a8ab670fca7aa43b50e67ac376826.png");
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: center;
}



/* Countdown */
#countdown{
	width: 465px;
	height: 160px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 24px 0;
	position: sticky;
	top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 90px;
	max-width: 90px;
	font: bold 42px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

@media only screen and (max-width: 480px){
	#countdown{
		width: 250px;
		height: 163px;
	}
	#countdown .labels li {
		width: auto;
		font: bold 15px 'Droid Sans', Arial, sans-serif;
		color: #f47321;
		text-shadow: 1px 1px 0px #000;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
	}
	#countdown .labels{
		height:50px;
	}
	#countdown #tiles > span{
		width: 40px;
		max-width: 40px;
		font: bold 19px 'Droid Sans', Arial, sans-serif;

	}
}




@media(max-width: 768px){
	.body{
		margin: 0;
		width: 100%;
		border-radius: 0;
		transition:  0.1s linear all; 
	}
}
@media(max-width: 767px){
	.body > div:not(.counter) {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.cont-1{
		padding-top: 30px;
	}
	.cont-3 {
	    padding-bottom: 30px;
	}
	.item{
	    width: 100%;
	}
}